.pie-chart {
  // width: fit-content !important;
  height: 100% !important;
}

.recharts {
  &-wrapper {
    height: 100% !important;
    width: 200px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
  }

  &-surface {
    width: 70% !important;
    height: 100% !important;
  }

  &-pie {
    height: 100% !important;
  }
}
