@import "../helpers/mixins.scss";
@import "../helpers/variables.scss";

//   Main

html {
  overflow-x: hidden;
}

.landing {
  overflow-x: hidden;
}

.header {
  color: #ffffff;
  background: repeating-linear-gradient(
    135deg,
    #120560 0%,
    #120560 33%,
    #2c861e 33%,
    #2c861e 66%,
    #fa8e10 66%,
    #fa8e10 100%
  );
  border-radius: 15px;
  padding: 3vw;
  &--title {
    white-space: pre-wrap;
    font-weight: bold;
    letter-spacing: 3px;

    @include fluid-type(
      $min-width,
      $max-width,
      $header-min-font,
      $header-max-font
    );
  }

  &--subtitle {
    white-space: pre-wrap;
    @include fluid-type(
      $min-width,
      $max-width,
      $subheader-min-font,
      $subheader-max-font
    );
  }
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--padding {
    width: 80% !important;
    display: flex;
    justify-content: center;
  }

  &--total,
  &--progress {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e5e5;
    padding: 0.5em 2em;
    border-radius: 15px;

    &__num {
      font-weight: bold;

      @include fluid-type(
        $min-width,
        $max-width,
        $stats-num-min-font,
        $stats-num-max-font
      );
    }

    &__text {
      align-self: center;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-left: 20px;

      @include fluid-type(
        $min-width,
        $max-width,
        $stats-text-min-font,
        $stats-text-max-font
      );
    }
  }
}

.applications {
  &--header {
    &__title {
      font-weight: bold;

      @include fluid-type(
        $min-width,
        $max-width,
        $application-header-min-font,
        $application-header-max-font
      );
    }
  }
}

.posts {
  &--slice {
    margin-bottom: 1rem;
    background-color: #e5e5e5;
    border-radius: 15px;

    @include fluid-type(
      $min-width,
      $max-width,
      $application-text-min-font,
      $application-text-max-font
    );

    &__role {
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    &__status {
      font-weight: bold;
    }
  }
}

.button {
  &--delete,
  &--edit,
  &--add {
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

    @include fluid-type(
      $min-width,
      $max-width,
      $button-min-font-size,
      $button-max-font-size
    );
  }

  &--delete:hover,
  &--edit:hover,
  &--add:hover {
    cursor: pointer;
  }

  &--delete {
    background-color: $delete-red;
  }

  &--edit {
    background-color: black;
  }

  &--add {
    color: black;
    border: 1px solid black;
  }
}

.modal-dialog {
  max-width: 1000px !important;
}

.total-jobs-chart {
  min-width: 50% !important;
  max-width: 50% !important;
}

.resources {
  &--header {
    font-weight: bold;

    @include fluid-type(
      $min-width,
      $max-width,
      $resources-header-min-font,
      $resources-header-max-font
    );
  }

  &--links {
    border: 1px solid black;
    border-radius: 10px;
    list-style: none;

    & li a {
      text-decoration: none;
    }
  }
}
