$header-max-font: 55px;
$header-min-font: 22px;
$subheader-max-font: 30px;
$subheader-min-font: 14px;
$stats-num-max-font: 80px;
$stats-num-min-font: 35px;
$stats-text-max-font: 20px;
$stats-text-min-font: 15px;
$application-header-max-font: 35px;
$application-header-min-font: 22px;
$resources-header-max-font: 35px;
$resources-header-min-font: 22px;
$application-text-max-font: 18px;
$application-text-min-font: 12px;
$button-max-font-size: 16px;
$button-min-font-size: 12px;

$form-title-max-font: 30px;
$form-title-min-font: 30px;

$delete-red: #de4040;
$form-grey: #c4c4c4;
$applied-green: #2c861e;
$rejected-red: #de4040;
$interview-orange: #fa8e10;

$min-width: 320px;
$max-width: 1200px;
